*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.container{
    margin: 2%;
}
.all_emp_container{
    margin: 2%;
}
.btni{
    background-color: blue;
    border-color:darkblue;
    border-radius: 10%;
    color:white;
}
/*all emp*/
.table_all_emp , table , th , td, tr{
    border: 1px solid white;
    background-color: black;
    border-collapse: collapse;
    color:white;
    padding: 2px;
}
.table_all_emp td{
    width: 10%;
    text-align: center;
}
.add_emp_Container{
    margin: 2%;
}
.add_emp_Container form input{
    width: 100%;
}
.add_emp_button{
    background-color: blue;
    border-color:darkblue;
    border-radius: 10%;
    color:white;
}
/*.remove_emp_Container */
.remove_emp_Container{
    margin: 2%;
}
.dropbtn {  
    background-color: blue;  
    color: white;  
    padding: 10px;  
    font-size: 12px;  
}  
.dropdown {  
    display: inline-block;  
    position: relative  
}  
.dropdown-content {  
    position: absolute;  
    background-color: lightgrey;  
    min-width: 200px;  
    display: none;  
    z-index: 1;  
}  
.dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
}  
.dropdown-content a:hover {   
    background-color: orange;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
}  
.dropdown:hover .dropbtn {  
    background-color: grey;  
}  

.filter_emp_button{
    background-color: blue;
    border-color:darkblue;
    border-radius: 10%;
    color:white;
}